*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 70vh;
    background-image: url(/assets/img/dragon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    width:150px;
    margin-left: 15px;
}
.barras{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    
}

.menu{
    position: absolute;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, .25); /*para no aplicar opacidad a otros child*/
    text-align: center;
    transition: all .5s;
}

.menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.menu li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color:white;
    text-transform: uppercase;
    font-weight: 900;
}

.menu li a.active, .menu li a:hover{
    color: darkslategrey;
    transition: .3s;
}


#boton{
    display: none;/*oculto el check*/
}
#boton:checked ~.menu{
    height: 54vh;
}
#boton:checked ~.menu li{
    display: block;
}

.book{
    width: 120px;
}

.ho:hover{
    background-color: #ced4da;
    border-color: #ced4da;
    color: black;
    font-weight: bold;
}
.mafer{
    width: 300px;
    height: 300px;
    margin: 50px;
    background-color: bisque;
}
.mafer:hover{
    background-color: #ced4da;
}

/*grid*/
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(12,25px);
}
.tamaño{
   width: 100%;
   height: 100%;
   object-fit: cover;
   align-items:initial;
}
.item:nth-child(1){
    background-color: black;
    grid-area: 1/1/8/3;
}

.item:nth-child(2){
    background-color: black;
    grid-area: 1/3/5/6;
}
.item:nth-child(3){
    background-color: black;
    grid-area: 1/6/5/8;
}
.item:nth-child(4){
    background-color: black;
    grid-area: 1/8/6/10;
}
.item:nth-child(5){
    background-color: black;
    grid-area: 8/1/13/3;
}
.item:nth-child(6){
    background-color: black;
    grid-area: 5/3/13/5;
}
.item:nth-child(7){
    background-color: black;
    grid-area: 5/5/10/7;
}
.item:nth-child(8){
    background-color: black;
    grid-area: 10/5/13/7;
}
.item:nth-child(9){
    background-color: black;
    grid-area: 5/7/13/8;
}
.item:nth-child(10){
    background-color: black;
    grid-area: 6/8/13/10;
}


@media  screen and (min-width:768px){
    #boton:checked~.menu li{
        display: inline-block;
        line-height: 12px;
        margin-right: 50px;
        margin-top: 0 20px;
    }
    .logo{
        margin-left: 15px;
    }
    nav{
        height: 100px;
    }
    .barras{
        display: none;
    }
    .menu{
        height: 100px;
        top:0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .menu li{
        display: inline-block;
        line-height: 12px;
        margin-right: 50px;
        margin-top: 0 20px;
        transition: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
   .menu li a{
    font-size: 12px;
   }

}