*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 70vh;
    background-image: url(/assets/img/dragon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    width:150px;
    margin-left: 15px;
}
.barras{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    
}

.menu{
    position: absolute;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(0, 0, 0, .8); /*para no aplicar opacidad a otros child*/
    text-align: center;
    transition: all .5s;
}

.menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.menu li a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color:white;
    text-transform: uppercase;
    font-weight: 900;
}

.menu li a.active, .menu li a:hover{
    color: #3c6e71;
    transition: .3s;
}


#boton{
    display: none;/*oculto el check*/
}
#boton:checked ~.menu{
    height: 54vh;
}
#boton:checked ~.menu li{
    display: block;
}

.book{
    width: 120px;
}

.ho:hover{
    background-color: #ced4da;
    border-color: #ced4da;
    color: black;
    font-weight: bold;
}

#quote{
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-weight: 400px;
    font-size: 30px;
    color: white;
    border: 0.1em solid #fff;  
}
.quote-card p{
    display: inline-block;
}
.quote-card .segundo{
    font-family:'Noto Serif', serif;
    height: 2em;
    width: 35px;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.9em;
    text-transform: lowercase;
    display: inline-block;
    vertical-align: middle;
    margin: -0.44em 0.1em 0;
    border: 0.1em solid #fff;  
}
.quote-card .tercero{
    font-family:'Noto Serif', serif;
    height: 2em;
    width: 125px;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.9em;
    text-transform: lowercase;
    display: inline-block;
    vertical-align: middle;
    margin: -0.44em 0.1em 0;
    border: 0.1em solid #fff;  
}

.request{
    font-family:'Noto Serif', serif;
    font-weight: 400;
    font-size:15px ;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    
}

.boton-request{
    width: 135px;
    height: 55px;
    color: white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
}

.boton-request:hover{
    border: 0.1em solid #fff;
    background-color: rgba(255, 255, 255, 0.5);

}

/*trending*/
#trending{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr;
    background-color: #495057;
}
.trending-box{
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    padding-top: 5px;
    grid-column: 1/span 3;
    grid-row: 2/span 1;
}
.trending-box p{
    display: flex;
    font-family:'Noto Serif', serif;
    color: white;
    align-items: center;
    padding: 5px;
    border-left: 0.1em solid #fff;
}
.trending-box img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    padding: 5px;
    filter: grayscale(1);
}

/*personajes*/

#personajes{
    width: 100%;
}
.personaje-box{
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}
.character-image{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.chrt-2{
    filter: grayscale(1);
    width: 70%;
    height: 100px;
}
.chrt-1{
    width: auto;
    height: 60px;
    margin-top: 20px;
    margin-right: 10px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,150px);
    gap: 5px;
    background-color: #ced4da;
}

.caja-imagen:nth-child(1){
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}
.caja-imagen:nth-child(6){
    grid-column: 2/span 1;
    grid-row: 2/span 2;
}
.caja-imagen:nth-child(7){
    grid-column: 3/span 2;
    grid-row: 1/span 2;
}
.caja-imagen:nth-child(8){
    grid-column: 6/span 2;
    grid-row: 1/span 1;
}
.caja-imagen:nth-child(4){
    grid-column: 3/span 2;
    grid-row: 3/span 1;
}
.caja-imagen:nth-child(9){
    grid-column: 7/span 1;
    grid-row: 2/span 2;
}
.caja-imagen:nth-child(10){
    grid-column: 5/span 2;
    grid-row: 2/span 2;
}
.bibliografia{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
}
.bibliografia:hover .overlay{
    opacity: 1;
}
.galeria .caja-imagen:hover img{
    transform: scale(1.1);
    transition: .5s;
}

.caja-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*authors*/
#authors{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    width: 100%;
}
.authors-box{
    grid-column: 1 /span 1;
    grid-row: 1 /span 2;
    background-color: #495057;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    
}
.horizontal img{
    height: 200px;
}
.img-2{
    display: none;
}
.authors-box p{
    margin: 0;
    padding-left: 88px;
    padding-right: 88px;
    writing-mode:vertical-lr;
    text-orientation: upright;
    font-family:'Noto Serif', serif;
    color: white;
    border-bottom: 0.1em solid #fff;

    
}
.contenedor{
    grid-column: 2 /span 2;
    grid-row: 1 /span 2;
    background-color: #adb5bd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.lista{
    display: flex;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 210px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 15px;
    margin: 10px;
    transition: all .5s;
}
.lista .picture{
    height: 90%;
    width: 30%;
    margin: 10px;
}

.lista .picture img{
   width: 100%; 
   height: 100%;
   border-radius: 20px;
   object-fit: cover;
   filter: grayscale(1);
}
 .descripcion{
    width: 65%;
    margin: 10px;
 }
 .descripcion p{
    padding: 3px;
    margin-bottom: 3px;
    font-size: small;
 }
 .picture{
    position: relative;
 }
 
 .picture .sarah{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .sarah a i{
    color: white;
    margin-left: 5px;
  }

  .iconos a i{
    color: black;
    font-size:25px;
  }
 
  /*footer*/
footer{
    background-color:black;
}
.footer-1{
    background-color:black;
}
.logo-1 a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-1-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 0.1em solid grey;
}

.page-1 a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    margin: 10px;
}

.logo-1 a img{
    width: 100px;
    margin: 15px;
}

.redes-sociales-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    padding-bottom: 10px;
}
.redes-sociales i{
    margin-left: 5px;
}
.redes-sociales a{
  text-decoration: none;
  color: white;
}
.copy-box{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    color: white;
    background-color: #adb5bd;
}
.copy-1 p{
    margin-bottom: 0;

}


/*ecritorio*/
@media  screen and (min-width:768px){
    #boton:checked~.menu li{
        display: inline-block;
        line-height: 12px;
        margin-right: 50px;
        margin-top: 0 20px;
    }
    .logo{
        margin-left: 15px;
    }
    nav{
        height: 100px;
    }
    .barras{
        display: none;
    }
    .menu{
        height: 100px;
        top:0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .menu li{
        display: inline-block;
        line-height: 12px;
        margin-right: 50px;
        margin-top: 0 20px;
        transition: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
   .menu li a{
    font-size: 12px;
   }

   .lista{
    width: 500px;
   }
   .descripcion{
    font-size:x-large;
   }
   #quote{
    font-size: 40px;
   }
   /*trending*/
  
   .trending-box{
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    display:inline;
    justify-content: center;

    }
    
    .container{
    grid-column: 2/span 2;
    grid-row: 1/span 2;
    align-items: center;
    }
    .row{
        padding-top: 8%;
    }
    .trending-box img{
        width: 60%; 
        height: auto;
        border-radius: 300px;
        margin-top: 29%;

    }
    .trending-box p{
        display: list-item;
        border: none;
        padding-bottom: 20%;
    }
    /* authors*/
    #authors{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:100px 1fr;
        width: 100%;
    }
    .authors-box{
        grid-column: 1 /span 3;
        grid-row: 1 /span 1;    
    }
    .horizontal img{
        height: 100px;
    }
    .img-2{
        display:inline;
    }
    .img-1{
        display: none;
    }
   
    .authors-box p{
        margin: 0;
        writing-mode:horizontal-tb;
        color: white;
        border-right: 0.1em solid #fff;
        border-bottom: none;
        display: inline;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 5px;
        
    }
    .contenedor{
        grid-column: 1 /span 3;
        grid-row: 2 /span 1;
    }
    .chrt-1{
        width: auto;
        height: 100px;
        margin-top: 0;
    }
}